// out: ../style.css, compress: true

@import "variable";

@media (orientation: portrait) {
  html {
    font-size: calc(100vw / 45);
  }
}

@media (orientation: landscape) {
  html {
    font-size: calc(100vh / 45);
  }
}

// Phone
@media (max-width: 576px) and (orientation: portrait) {
  html {
    font-size: calc(100vw / 30);
  }
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background: $bg-color;
  animation-name: fadeIn;
  animation-delay: 0.2s;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.navbar {
  position: absolute;
  width: 100%;
  padding: 1.8rem 1.6rem;
  z-index: 999;
  background-color: rgba($bg-color-light, 0.7);

  .a {
    padding: 1.2rem;
  }
}

.hero {
  text-align: center;

  &.index-banner {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-body {
      h2 {
        font-size: 1.4rem;
      }
    }
  }

  .icon {
    height: 8rem;
    background-image: url("icons/icon-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 20px;
  }
}

.index-geo {
  height: 0%;
  overflow: hidden;

  .geo {
    position: absolute;
    opacity: 0.7;
    background-size: contain;
    background-repeat: no-repeat;

    &.geo1 {
      background-image: url(assets/images/geo1.svg);
      background-position: top right;
      background-size: contain;
      right: 2rem;
      top: 2rem;
      height: 4.6rem;
      width: 4.6rem;
    }

    &.geo2 {
      background-image: url(assets/images/geo2.svg);
      left: 0rem;
      bottom: 0rem;
      height: 12rem;
      width: 12rem;
      transform: translate(-20%, 4%);
    }

    &.geo3 {
      background-image: url(assets/images/geo3.svg);
      background-position: left center;
      background-size: contain;
      right: 0rem;
      top: 0rem;
      height: 60rem;
      width: 30rem;
      transform: translate(75%, 10%);
    }

    &.geo4 {
      background-image: url(assets/images/geo4.svg);
      background-position: center center;
      background-size: cover;
      left: 0rem;
      top: 0rem;
      height: 100%;
      width: 100%;
      transform: scale(1.2) translate(0%, -5%);
    }

    &.geo5 {
      background-image: url(assets/images/geo5.svg);
      background-position: left bottom;
      background-size: contain;
      left: 0rem;
      top: 0rem;
      height: 20rem;
      width: 10rem;
      transform: translate(-8%, -4%);
    }

    &.geo6 {
      background-image: url(assets/images/geo6.svg);
      background-position: right bottom;
      background-size: contain;
      right: 0rem;
      bottom: 0rem;
      height: 8rem;
      width: 8rem;
      transform: translate(12%, 12%);
    }

    &.geo7 {
      background-image: url(assets/images/geo7.svg);
      background-position: left top;
      background-size: contain;
      left: 6rem;
      bottom: 0rem;
      height: 25rem;
      width: 10rem;
      transform: translate(0%, 4%);
    }
  }
}

.copyright {
  text-align: center;
  font-size: 12px;
}
