// out: false

$primary-color: #ffffff;
$dark-color: #dfdfdf;
$light-color: #161616;

$bg-color: #161616;
$bg-color-dark: #181818;
$bg-color-light: #181818;

$bezier: cubic-bezier(0.08, 0.91, 0, 0.96);
